




/*
     FILE ARCHIVED ON 4:43:21 gen 5, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:05:03 feb 19, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(/web/20140105044321/http://themes.googleusercontent.com/static/fonts/ptsans/v5/FUDHvzEKSJww3kCxuiAo2A.ttf) format('truetype');
}
